{% extends 'base.html.twig' %}
{% block body %}
    <h1>Lista facturas</h1>
    <table border="1">
        <thead>
            <tr>
                {% for col in columnas %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in datos %}
            <tr>
                {% for col in columnas|keys %}
                <td>{{ row[col] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}